*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Gabarito", sans-serif;
}



/* Navbar Top */
.navbar {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.logo {
    font-size: 38px;
    font-weight: bold;
    
}
.logo-gradient{
 
    background: linear-gradient(to top, #eb058f 0%, #077aec 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.menu-icon {
    font-size: 18px;
    display: none;
    cursor: pointer;
}

/* Desktop Menu */
.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #122;
    font-size: 18px;
    font-weight: 500;
}

.nav-links a:hover,
.sidebar a:hover {
    text-decoration: underline;
    text-underline-offset: 4px; 
}

/* Mobile Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background: #1b2330;
    padding: 20px;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    z-index: 1000;
}

.sidebar a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.close-btn {
    align-self: flex-end;
    font-size: 26px;
    cursor: pointer;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 500;
}


/* image Slider */

.banner{
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container{
    margin-top: 15px;
   
    position: relative;
    width: 1000px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.slider{
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s,ease-in-out;
}
.slide{
    width: 33%;
    height: 100%;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.5);
    color: #333;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 46px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.slider-btn:hover{
    background-color: rgba(255,255,255,0.8);
}

.prev{
    left: 10px;
}
.next{
    right: 10px;
}

.dots-container{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}
.dot{
    width: 16px;
    height: 16px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dot.active{
    background-color: white;
}

/* brand */
.brand {
    margin-top: 20px;
    padding: 30px;
}
.brand-h3{
    font-size: 36px;
    font-style: bold;
    margin-bottom: 10px;
}
 .brand-row{
    margin-top: 10px;
        display:flex;
        gap:50px;
        justify-content:space-around;
        flex-wrap:wrap;
    }
    .brand-item{
        text-align:center;
    }
    .brand-item img{
        width:50px;
        height:auto;
        margin-bottom:10px;
    }
    .bold{
        font-size: 22px;
        font-weight: bold;

    }

    /* experience section */
.experience{
    margin: 10px;
    padding: 10px;
    
}
      .header-row{
        display:flex;
        justify-content:space-between;
        align-items:flex-start;
        flex-wrap:wrap;
        gap:10px;
    }

    .header-row h2{
        font-size:40px;
        font-weight:800;
        color:#000;
        max-width:50%;
        line-height:1.3;
    }

    .header-row .sub-text{
        font-size:22px;
        max-width:45%;
        text-align:right;
        color:#555;
    }

    /* Feature Cards */
    .feature-container{
        display:grid;
        grid-template-columns:repeat(4,1fr);
        gap:20px;
        margin-top:40px;
    }

    .feature-box{
        background:#f2f4f6;
        padding:25px;
        border-radius:10px;
        transition:0.3s;
    }

    .feature-box:hover{
        background:#e9eef2;
    }

    .icon{
        font-size:40px;
        margin-bottom:15px;
        display:block;
    }

    .feature-box h4{
        font-size:18px;
        font-weight:700;
        margin-bottom:5px;
    }

    .feature-box p{
        font-size:14px;
        color:#444;
        line-height:1.5;
    }
    
    /* RESPONSIVE DESIGN */
    @media(max-width:992px){
        .header-row h2, .header-row .sub-text{
            max-width:100%;
        }

        .header-row .sub-text{
            text-align:left;
            margin-top:10px;
        }

        .feature-container{
            grid-template-columns:repeat(2,1fr);
        }
    }

    @media(max-width:600px){
        body{
            padding:20px;
        }

        .header-row h2{
            font-size:26px;
        }

        .header-row .sub-text{
            font-size:18px;
        }

        .feature-container{
            grid-template-columns:1fr;
        }
    }


    /* New Arrivals */
    .newarrivals{
       margin-top: 20px;
    padding: 30px;
    }
.new{
     font-size: 36px;
    font-style: bold;
    margin-bottom: 30px;
   
}
     .card-row{
        display:flex;
        gap:20px;
        justify-content:center;
        flex-wrap:wrap;
    }

    .card1{
        width:280px;
        height:300px;
        border-radius:12px;
        overflow:hidden;
        position:relative;
    }

    .card1 img{
        width:100%;
        height:100%;
        object-fit:cover;
    }

    /* dark overlay */
    .overlay1{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.45);
    }

    /* center button */
    .btn1{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background:#fff;
        color:#000;
        padding:12px 25px;
        border-radius:20px;
        font-size:16px;
        font-weight:500;
        cursor:pointer;
        display:flex;
        align-items:center;
        gap:6px;
    }

    .btn1:hover{
        background:#f0f0f0;
    }

    /* Most Wanted */
    .wanted{
         margin-top: 20px;
    padding: 30px;

    }


      .h21{
       font-size: 36px;
    font-style: bold;
    margin-bottom: 30px;
    }

    .card2-container{
        display:flex;
        gap:20px;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
    }

    .card2{
        width:220px;
        height:260px;
        background:#f7f7f7;
        border-radius:12px;
        position:relative;
        padding:10px;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .card2 img{
        width:90%;
        height:auto;
    }

    .sale-tag{
        position:absolute;
        top:10px;
        left:10px;
        background:red;
        color:white;
        padding:4px 10px;
        font-size:14px;
        border-radius:6px;
        font-weight:600;
    }

    .heart{
        position:absolute;
        bottom:10px;
        right:10px;
        font-size:28px;
        cursor:pointer;
        transition:0.3s;
        color:black;
    }

    .heart.active{
        color:red;
    }

    /* contact page */
        .contact{
          
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
            
        }
      .contact-box{
            background:#18212b;
            width:380px;
            padding:25px;
            border-radius:10px;
            color:white;
            box-shadow:0 4px 12px rgba(0,0,0,0.2);
        }

        h2{
            margin-bottom:20px;
            font-size:24px;
        }

        label{
            display:block;
            margin:10px 0 5px;
            font-weight:500;
        }

        input, textarea{
            width:100%;
            padding:10px;
            border-radius:6px;
            border:none;
            outline:none;
            font-size:14px;
        }

        textarea{
            resize:none;
        }

        button{
            margin-top:15px;
            padding:10px 20px;
            background:#0a66c2;
            border:none;
            border-radius:6px;
            color:white;
            font-size:16px;
            cursor:pointer;
        }

        button:hover{
            background:#0454a9;
        }

        /* collections page */

         .container1{
        display:flex;
        min-height:100vh;
    }

    /* Sidebar */
    .sidebar1{
        width:250px;
        padding:20px;
        border-right:2px solid #ddd;
    }

    .sidebar1 h2{
        margin-bottom:10px;
    }

    .sidebar1 label{
        display:block;
        margin:8px 0;
        font-size:18px;
        text-transform:capitalize;
    }

    /* Main Section */
    .shop{
        flex:1;
        padding:20px;
    }

    .search-box{
        width:100%;
        display:flex;
        justify-content:center;
    }

    .search-box input{
        width:100%;
        max-width:800px;
        padding:10px;
        border:1px solid #aaa;
        border-radius:25px;
    }

    /* Grid */
    .product-grid{
        display:grid;
        grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
        gap:25px;
        margin-top:20px;
    }

    .product{
        text-align:left;
        display:block;
    }

    .product img{
        width:100%;
        border-radius:10px;
    }

    .product h3{
        font-size:18px;
        margin-top:8px;
        text-transform:capitalize;
    }

    .product p{
        font-size:16px;
        font-weight:bold;
        margin-top:3px;
    }

    /* Responsive */
    @media(max-width:800px){
        .container1{
            flex-direction:column;
        }

        .sidebar1{
            width:100%;
            border-right:none;
            border-bottom:2px solid #ddd;
        }
    }

    /* News Letter */
     .newsletter-section{
        text-align:center;
        padding:60px 20px;
        width:100%;
    }

    .newsletter-section h2{
        font-size:40px;
        font-weight:800;
        margin-bottom:10px;
    }

    .newsletter-section p{
        font-size:20px;
        color:#333;
        margin-bottom:30px;
    }

    .newsletter-input{
        width:60%;
        max-width:800px;
        padding:15px;
        font-size:16px;
        border:2px solid #000;
        border-radius:4px;
        display:block;
        margin:auto;
        margin-bottom:20px;
    }

    .btn2{
        background:#1b1f28;
        color:#fff;
        padding:12px 25px;
        border:none;
        border-radius:8px;
        font-size:18px;
        cursor:pointer;
        transition:0.3s;
    }

    .btn2:hover{
        background:#000;
    }

    /* Responsive */
    @media(max-width:600px){
        .newsletter-input{
            width:90%;
        }

        .newsletter-section h2{
            font-size:28px;
        }

        .newsletter-section p{
            font-size:16px;
        }
    }
/* Footer Section*/
.footer{
    background: #1b2330;
    padding: 20px 3%;
    color: white;
    margin-top: 40px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-brand h2{
    font-size: 32px;
    font-weight: bold;
}

.footer-brand p{
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
}

.social-icons{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.social-icons img{
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons img:hover{
    opacity: 0.6;
}

.copy{
    font-size: 18px;
    margin-top: 20px;
}



/* Responsive */
@media(max-width: 850px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
    }
}

/* Responsive */
@media(max-width: 768px){
    .footer{
        text-align: left;
        padding: 40px 20px;
    }

    .footer-brand p{
        font-size: 16px;
    }
}